@layer utilities {
  .text-preset-1 {
    font-size: 1.25rem; /* 20px */
    line-height: 150%;
    font-weight: 800;
    letter-spacing: 0px;
  }

  .text-preset-2 {
    font-size: 0.875rem; /* 14px */
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 500;
  }

  .text-preset-3 {
    font-size: 0.75rem;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 500;
  }

  .text-preset-3-b {
    font-size: 0.75rem;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 800;
  }

  @media (min-width: 1024px) {
    .text-preset-1 {
      font-size: 1.5rem;
    }

    .text-preset-2 {
      font-size: 1rem; /* 16px */
    }

    .text-preset-3, .text-preset-3-b {
      font-size: 0.875rem; /* 14px */
    }
  }
}
